<section class="packageJsonSection">
{{#each this}}
	{{#ifObject this}}
	<h2>{{@key}}</h2>
	<ul>
    	{{#each this}}
	    <li><strong>{{@key}}</strong>: {{this}}</li>
    	{{/each}}
	</ul>
	{{else}}
	<h2>{{@key}}</h2>
	<p>{{makeUrl this}}</p>
	{{/ifObject}}
{{/each}}
</section>
{{> hr}}